body{
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 400px;
    height: 450px;
    background: #87CEEB;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 85px 35px;
}

.avatar{
    width: 100px;
    height: 100px;
    background: #4682B4;
    border-radius: 10%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    font-size: 40px;
}

.loginbox p{
    margin: 0;
    padding: 50;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 40px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #4682B4	;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}






























































